@font-face {
    font-family: 'VT323';
    src: url('./VT323-Regular.ttf') format('truetype');
}

body {
overflow: hidden;
}

#content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#header, #navBar {
    display: flex;
    justify-content: center;
    font-family: 'VT323';
    gap: 100px;
}

#header {
    font-size: 44px;
}
#navBar {
    font-size: 20px;
}
a {
    cursor: grab;
}
a:active {
    cursor: grabbing;
}
#contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#pizzaImg, #saladImg, #breadImg, #dinnerTable, #menuImg, #phoneImg {
    height: 150px;
    /* width: 150px; */
}

/* img {
    height: 150px;
} */
/* .info, #aboutParagraph, #menuParagraph, #aboutParagraph {
    width: 500px;
} */

p {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}
#contactHours {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

tbody > * {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
/* 
.contactPara {
    display: flex;
    flex-direction: column;
align-items: center;
} */