@font-face {
    font-family: 'VT323';
    src: url('./VT323-Regular.ttf') format('truetype');
}

body {
overflow: hidden;
}

#content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

header, #navBar {
    display: flex;
    justify-content: center;
    font-family: 'VT323';
    gap: 125px;
}

header {
    font-size: 44px;
}

#navBar {
    font-size: 26px;
}

a {
    cursor: grab;
}

a:active {
    cursor: grabbing;
}

#contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contentContainer > img {
    margin: 10px 0 22px 0;
}

#buildingImg {
    height: 315px; 
    width: 670px;
}

#us {
    height: 120px;
}

img {
    height: 130px;
}

.info, #aboutParagraph {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

p, .aboutUs, #contactHours {
    font-family: Courier;
}

#contactHours {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

tbody > * {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

#menuContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

#menuContainer img {
    height: 100px;
    width: 100px;
}

#menuContainer p {
    margin-top: 5px; 
    width: 280px;
}
.menuItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 340px;
    text-align: center;
}

.menuItem > h3 {
    margin-bottom: 5px;
    font-family: 'VT323';
    font-size: 26px;
}